/* Apply minimum width if the device width is at least that */
@media (min-width: 400px) {
    input {
            min-width: 250px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.tab-list {
    justify-content: space-between;
}

.hidden {
    visibility: hidden;
}

.tab-content button {
    font-size: inherit;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 0px;
    cursor: pointer;
}

button.connect-wallet {
    background-color: #6c757d;
    color: white;
}

input[readonly] {
    background-color: #f0f0f0; /* Light gray background */
    color: #555; /* Darker text color */
    border: 1px dashed #aaa; /* Dashed border */
    cursor: not-allowed; /* Change cursor to indicate it's not editable */
}

input::placeholder {
    color: gray !important;
    text-align: left !important;
    font-style: italic;
}

.progress-indicator {
    display: none;
    position: relative;
}
.htmx-request .progress-indicator {
    display: block;
}
.htmx-request.progress-indicator {
    display: block;
}

.svg-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Center the SVG horizontally */
}
