{{define "confirmDeposit"}}
{{template "confirm" (dict "type" "deposit" "data" .)}}
{{end}}


{{define "confirmWithdrawal"}}
{{template "confirm" (dict "type" "withdraw" "data" .)}}
{{end}}

{{define "confirm"}}
<figure class="container">
    <figcaption class="big">
        <strong>
            {{if eq .type "deposit"}}Deposit Confirmation{{end}}
            {{if eq .type "withdraw"}}Withdrawal Confirmation{{end}}
        </strong>
    </figcaption>
    <form
        {{if eq .type "deposit"}} hx-post="/confirm-deposit" {{end}}
        {{if eq .type "withdraw"}} hx-post="/confirm-withdraw" {{end}}
        hx-target-error="#errorBox"
        hx-swap="show:#errorBox:top"
        hx-indicator="#spinner"
    >
        <p>
            <span class="row">
                <span class="bold">
                    {{if eq .type "deposit"}}Amount to deposit{{end}}
                    {{if eq .type "withdraw"}}Amount to withdraw{{end}}
                </span>
                <span>
                    {{.data.Amount.Algostring}} algo
                </span>
            </span>
            {{if eq .type "withdraw"}}
            <span class="row">
                <span class="bold">
                    Protocol Fee
                        <span class="has-info">
                            <span class="tooltip">
                                0.1% of withdrawal<br>(0.1 algo minimum fee)
                            </span>
                        </span>
                </span>
                <span>
                    {{.data.Fee.Algostring}} algo
                </span>
            </span>
            {{end}}
        </p>
        <p>
            <span class="bold">
                {{if eq .type "deposit"}}From address{{end}}
                {{if eq .type "withdraw"}}Recipient address{{end}}
            </span>
            <span class="boxed-text border">
            <span class="bold">{{.data.Address.Start}}</span><span class="<small>">{{.data.Address.Middle}}</span><span class="bold">{{.data.Address.End}}</span>
            </span>
        </p>
        <p class="align-all">
            <span class="bold">
                New secret note to withdraw
                {{if eq .type "deposit"}} deposited funds in the future{{end}}
                {{if eq .type "withdraw"}} any remaining balance in the future{{end}}
            </span>
            <img src="/static/copy.svg"
                 alt="Copy to Clipboard"
                 title="Copy to Clipboard"
                 style="width: 30px; height: 30px;
                        align-self: flex-start;
                        cursor: pointer;"
                 onclick="navigator.clipboard.writeText('{{.data.NewNote.Text}}');
                          behaviors.Show.fadingTooltip(this,`copied !`);"
            >
            <div>
                <span class="<small> boxed-text ok color border bg"
                >{{.data.NewNote.Text}}</span>
            </div>
        </p>
        <div class="bad bg color border align-all">
            <div id="confirmCheckbox" class="checkbox"
                 onclick="let box = this.parentElement;
                          box.classList.remove('bad');
                          box.classList.add('ok');
                          this.dataset.checked = 'true';
                          this.classList.add('checked');
                          this.style.cursor = 'default';
                          this.onclick = null;
                          if (document.querySelector('#confirmNote').readOnly) {
                              document.querySelector('#confirmButton').disabled = false;
                          }"
            ></div>
            <span>
                <strong>I have saved the new secret note.</strong><br>
                I understand that if I lose it, I will lose access to
                {{if eq .type "deposit"}} my funds {{end}}
                {{if eq .type "withdraw"}} any remaining balance {{end}}
                and nobody will be able to help me
            </span>
        </div>
        <p>
            <textarea
                name="note" id="confirmNote"
                class="wide bad border bg border"
                placeholder="Copy here the new secret note to confirm you saved it"
                onpaste="setTimeout(() => { validateNote(this) }, 0)"
                onblur="if (this.value) validateNote(this)"
            ></textarea>
        <p>
        {{if eq .type "deposit"}}
        <input type="hidden" name="signedTxn" value=""
               data-wallet-signedTxn-input>
        {{end}}
        <input type="hidden" name="address" value="{{.data.Address.String}}">
        <input type="hidden" name="amount" value="{{.data.Amount.Algostring}}">
        <button id="confirmButton" type="submit" class="big wide" disabled
            {{if eq .type "deposit"}}
                data-wallet-confirm-deposit-button
                onclick="document.querySelector('#errorBox').style.display='none';
                         behaviors.Show.scrollTo('#spinner')"
            {{else}}
                onclick="document.querySelector('#errorBox').style.display='none';
                         behaviors.Show.scrollTo('#spinner')"
            {{end}}
        >
            Confirm
        </button>
        </p>
    </form>
</figure>
{{template "spinner"}}
{{if eq .type "deposit"}}
    {{template "errorBox" (safeHTMLAttr "data-wallet-errorBox")}}
{{end}}
{{if eq .type "withdraw"}}
    {{template "errorBox"}}
{{end}}



<script>
    function validateNote(elem) {
        if (elem.value.trim() !== '{{.data.NewNote.Text}}') {
            elem.value = '';
            elem.placeholder = 'The note you pasted does not match the new secret note';
        } else {
            elem.classList.remove('bad');
            elem.classList.add('ok');
            elem.classList.add('<small>');
            elem.setAttribute('readonly', true);
            if (document.querySelector('#confirmCheckbox').dataset.checked) {
                document.querySelector('#confirmButton').disabled = false;
            }
            elem.onpaste = null;
            elem.onblur = null;
        }
    }
</script>
{{end}}