{{define "confirmDeposit"}}
<figure class="container">
    <figcaption class="big">
        <strong>Deposit Confirmation</strong>
    </figcaption>
    <form
         hx-post="confirm-deposit"
        hx-target-error="#errorBox"
        hx-swap="show:#errorBox:top"
        hx-indicator="#spinner"
    >
        <p>
            <span class="row">
                <span class="bold">
                    Amount to deposit
                </span>
                <span>
                    {{.Amount.Algostring}} algo
                </span>
            </span>
        </p>
        <p>
            <span class="bold">
                From address
            </span>
            <span class="boxed-text border">
            <span class="bold">{{.Address.Start}}</span><span class="<small>">{{.Address.Middle}}</span><span class="bold">{{.Address.End}}</span>
            </span>
        </p>
        <p class="align-all">
            <span class="bold">
                New secret note to withdraw deposited funds in the future
            </span>
            <img src="static/copy.svg"
                 alt="Copy to Clipboard"
                 title="Copy to Clipboard"
                 style="width: 30px; height: 30px;
                        align-self: flex-start;
                        cursor: pointer;"
                 onclick="navigator.clipboard.writeText('{{.Note.Text}}');
                          behaviors.Show.fadingTooltip(this,`copied !`);"
            >
            <div>
                <span class="<small> boxed-text ok color border bg">
                    {{.Note.Text}}
                </span>
            </div>
        </p>
        <div class="bad bg color border align-all">
            <div id="confirmCheckbox" class="checkbox"
                 onclick="let box = this.parentElement;
                          box.classList.remove('bad');
                          box.classList.add('ok');
                          this.dataset.checked = 'true';
                          this.classList.add('checked');
                          this.style.cursor = 'default';
                          this.onclick = null;
                          if (document.querySelector('#confirmNote').readOnly) {
                              document.querySelector('#confirmButton').disabled = false;
                          }"
            ></div>
            <span>
                <strong>I have saved the new secret note.</strong><br>
                I understand that if I lose it, I will lose access to my funds
                and nobody will be able to help me
            </span>
        </div>
        <p>
            <textarea
                name="note" id="confirmNote"
                class="wide bad border bg border"
                placeholder="Copy here the new secret note to confirm you saved it"
                onpaste="setTimeout(() => { validateNote(this) }, 0)"
                onblur="if (this.value) validateNote(this)"
            ></textarea>
        </p>
        <input type="hidden" name="txnsJson" value="{{.TxnsJson}}"
            data-wallet-txnsjson-input>
        <input type="hidden" name="indexTxnToSign" value="{{.IndexTxnToSign}}"
            data-wallet-index-txn-to-sign-input>
        <input type="hidden" name="signedTxn" value="" data-wallet-signed-txn-input>
        <input type="hidden" name="address" value="{{.Address}}"
            data-wallet-address-input >
        <input type="hidden" name="amount" value="{{.Amount.Algostring}}">
        <button id="confirmButton" type="submit" class="big wide" disabled
                data-wallet-confirm-deposit-button
                onclick="document.querySelector('#errorBox').style.display='none';
                         behaviors.Show.scrollTo('#spinner')"
        >
            Confirm
        </button>
        </p>
    </form>
</figure>
{{template "spinner"}}
{{template "errorBox" (safeHTMLAttr "data-wallet-errorBox")}}
<script>
    function validateNote(elem) {
        if (elem.value.trim() !== '{{.Note.Text}}') {
            elem.value = '';
            elem.placeholder = 'The note you pasted does not match the new secret note';
        } else {
            elem.classList.remove('bad');
            elem.classList.add('ok');
            elem.classList.add('<small>');
            elem.setAttribute('readonly', true);
            if (document.querySelector('#confirmCheckbox').dataset.checked) {
                document.querySelector('#confirmButton').disabled = false;
            }
            elem.onpaste = null;
            elem.onblur = null;
        }
    }
</script>
{{end}}
